<div class="container my-4 p-4 bg-body" style="width: 120rem;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5">
                        <img src="https://www.medibuddy.in/assets/banners/otcStore.webp" style="width: 500px;" />
                    </div>
                    <div class="col-md-5">
                        <img src="https://www.medibuddy.in/assets/offers/CallOffer.png" class="" style="width: 500px;"/>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row d-flex d-block justify-content-center">
                    <div class="col-md-5">
                        <img src="https://www.medibuddy.in/assets/offers/CallOffer.png" style="width: 500px;"/>
                    </div>
                    <div class="col-md-5">
                        <img src="https://www.medibuddy.in/assets/offers/discount-home-delivered.png" class="" style="width: 500px ;" />
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon  me-4" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon  ms-1" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        