

<body>
<div class="container mt-5 py-4 d-flex justify-content-md-center text-white">
  <div class="col-md-3 ms-5">
    <div class=" row px-2 mt-3">
        <p>Health</p>
        <p><sub>MedsKart GOLD</sub></p>
        <p><sub>Book Medicine</sub></p>
        <p><sub>Doctor Consultation</sub></p>
        <p><sub>Book a Lab Test</sub></p>
        <p><sub>Covid Essential Items</sub></p>
        <p><sub>Dental Care</sub></p>
        <p><sub>Cancer Care</sub></p>
    </div>
  </div>

  <div class="col-md-3">
    <div class=" row px-2 mt-3 ">
    <p>Hospitalization</p>
        <p><sub>Plan Hospital</sub></p>
        <p><sub>Locate Hospital</sub></p>
        <p><sub>Download: eCard | Claim forms</sub></p>
        <p><sub>Intimate Claim</sub></p>
        <p><sub>Track claims</sub></p>
        <p><sub>FAQs</sub></p>
  </div>
  </div>

  <div class="col-md-3">
    <div class=" row px-2 mt-3 ">
    <p>ABOUT</p>
    <p><sub>Overview</sub></p>
    <p><sub>Testimonals</sub></p>
    <p><sub>Contact</sub></p>
    <p><sub>Blog</sub></p>
    <p><sub>Careers</sub></p>
    <p><sub>Security</sub></p>
  </div>
  </div>

  <div class="col-md-3 me-5">
    <div class=" row px-2 mt-3 ">
    <p>Download App</p>
    <p><sub>Follow Us</sub></p>
    <p><sub>Terms of Use</sub></p>
    <p><sub>Privacy Policy</sub></p>
</div>
</div>
</div>
</body>