<div class="container">
    <div class="alert alert-danger d-flex align-middle align-items-center mb-1" style="height:3rem;"
        role="alert" *ngIf="isNewUser">
        User does not exists against this Mobile Number. Please check your credentials or Register first.
    </div>


    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="box">

            <!-- Mobile No -->
            <div class="inputBox mt-3">
                <input type="text" name="uName" required onkeyup="this.setAttribute('value', this.value);" value="" class="form-control"
                    formControlName="mobileNo">
                <label class="form-label">Mobile No</label>
            </div>
            <div class="invalid-feedback text-danger d-block py-1"
                *ngIf="loginForm.controls['mobileNo']?.dirty && loginForm.controls['mobileNo'].errors?.['required']">
                <div><i class="bi bi-exclamation-triangle"></i> &nbsp;Mobile number is required</div>
            </div>

            <ng-container *ngIf="loginForm.controls['mobileNo']?.dirty && loginForm.controls['mobileNo']?.value !== ''">
                <span
                    *ngIf="loginForm.controls['mobileNo']?.dirty && loginForm.controls['mobileNo'].errors?.['pattern']; then MobileThenBlock; else MobileElseBlock">
            </span>
            
                <ng-template #MobileThenBlock>
                    <div class="invalid-feedback text-warning d-block py-1"><i class="bi bi-exclamation-circle"></i>&nbsp; Please enter a valid 10 digit mobile number</div>
                </ng-template>
            
                <ng-template #MobileElseBlock>
                    <div class="valid-feedback d-block py-1"><i class="bi bi-check-circle"></i> &nbsp; Mobile number is valid</div>
                </ng-template>
            </ng-container>

            <!-- Password -->
            <div class="inputBox mt-4">
                <input type="password" name="password" required onkeyup="this.setAttribute('value', this.value);"
                    value=""  class="form-control" formControlName="password">
                <label class="form-label">Password</label>
            </div>
            <div class="invalid-feedback text-danger d-block py-1"
            *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['required']">
            <div><i class="bi bi-exclamation-triangle"></i> &nbsp;Password is required</div>
          </div>
          <ng-container *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].value !== ''">
            <div
              *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['pattern'] ; then PasswordThenBlock; else PasswordElseBlock">
            </div>
      
            <ng-template #PasswordThenBlock>
              <div class="invalid-feedback d-block py-1"> *Password Must Contain
                atleast 1 uppercase,1 lowercase,1 number,1 special character and
                atleast 8 characters.</div>
            </ng-template>
      
            <ng-template #PasswordElseBlock>
              <div class="valid-feedback d-block py-1">
            <i class="bi bi-check-circle"></i> &nbsp; Password is valid</div>
            </ng-template>
          </ng-container>

<div class="d-grid gap-2">
    <button class="btn btn-primary col-12 mt-4" type="submit">Login</button>
</div>
            

        </div>
    </form>
</div>