<div class="container">
    <div class="row col-md-10 mx-auto w-25 mt-5">

        <img src="https://www.medibuddy.in/assets/images/error404.png" alt="">
        <div class="fs-1 text-center">404 </div>
        <div class="fs-4 text-center" style="color: rgb(117, 187, 215);">ERROR </div>
    </div>
    <div class="fs-2 mt-5 text-center">Oops, looks like this page doesn't exist. </div>
    <div class="fs-6 mt-2 text-center">Click here to go to the </div>
    <div class="mx-auto mt-2 text-center">
        <button type="button" class="btn btn-primary rounded-1 mb-5" routerLink="/home">Home Page</button>
    </div>
   
</div>

